/*Reset css*/
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí 
2. Kích thước(width, height)
3. Màu sắc 
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffff;
}

.header {
    position: sticky;
    top: 0;
    height: 55px;
}

#gourmer-button{
    position: relative;
    top: 10px;
    width: 235px;
    height: 38px;
    background-color: red;
}
/* #gourmer-button a {
    color:rgb(11, 11, 11);
    background-color: rgb(25, 0, 255);
    padding: 8px 16px;
    display: block;
    text-decoration: none;
} */

#gourmer-buttona:hover
{
    background-color:  rgb(134, 140, 146);
}

ul {
    position: relative;
    top: -35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color:black;
}

li a:hover {
    background-color: rgb(134, 140, 146);
}

#le-catering {
    position:relative ;
    top: -100px;
    width: 273px;
    height: 98px;
    background-color: red;
}